.bounce-dot {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  background-color: #fff; 
  border-radius: 50%;
  display: inline-block;
  animation: bounce 0.6s infinite;
}

.bounce-dot2 {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
  background-color: #fff; 
  border-radius: 50%;
  display: inline-block;
  animation: bounce 0.6s infinite;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}